<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" /> 
      <title>EPETN2</title>
      <!--<link rel="stylesheet" href="< ?php echo base_url(); ?>assets/css/fomralumno.css" /> -->
      <link rel="stylesheet" href="{{ asset('public/assets/css/bootstrap.css') }}" />
      <link rel="stylesheet" href="{{ asset('public/assets/css/shop-item.css') }}" />
      <link rel="stylesheet" href="{{ asset('public/assets/css/bootstrap-switch.css') }}" />
      <link rel="stylesheet" href="{{ asset('public/assets/css/jquery-ui.css') }}" />

      <link rel="stylesheet" href="{{ asset('public/assets/css/estilo.css') }}" />
      
	  
   </head>
   
   <body>

      {% block body %}


        <nav class="navbar  navbar-inverse navbar-fixed-top " role="navigation">
        		<div class="container-fluid">
        			<div class="navbar-header">

        				<a class="navbar-brand" href="{{ path('principal') }}"><span class="glyphicon glyphicon-home"></span></a>
        			</div>
        			<div class="collapse navbar-collapse" id="navbar1">

        				<ul class="nav navbar-nav navbar-right">

        			        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>
                                  </ul>
                                </li>
                      {% endif %}
        				</ul>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
          				<ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="{{ path('user_list') }}" >Usuarios</a>
                        </li>
                   </ul>
                 {% endif %}

        				<ul class="nav navbar-nav navbar-right">
        					<li class="dropdown">
        			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscripciones</a>
        			          <ul class="dropdown-menu">
        			           	<li><a href="#">Visualizar PreInscriptos</a></li>
        			           	<li><a href="#">Visualizar Inscriptos</a></li>

        	        			<li><a href="">Configurar Pre-Inscripcion</a></li>
        	        			<li><a href="">Configurar Inscripcion</a></li>

        	        		  </ul>
        			        </li>
        				</ul>

        				<ul class="nav navbar-nav navbar-right">
        					<li class="dropdown">
        			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alumnos</a>
        			          <ul class="dropdown-menu">
        			          	<li><a href="{{ path('cargar_persona') }}">Añadir Alumno</a></li>
        			            <li><a href="{{ path('buscar_persona') }}">Buscar Alumno</a></li>
        	        		  </ul>
        			        </li>
        				</ul>

        				<ul class="nav navbar-nav navbar-right">
        					<li class="dropdown">
        			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profesores</a>
        			          <ul class="dropdown-menu">

        	        		  </ul>
        			        </li>
        				</ul>

        				<ul class="nav navbar-nav navbar-right">
        					<li class="dropdown">
        			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Preceptores</a>
        			          <ul class="dropdown-menu">
        	        		  </ul>
        			        </li>
        				</ul>

        				<ul class="nav navbar-nav navbar-right">
        					<li class="dropdown">
        			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materias</a>
        			          <ul class="dropdown-menu">
        	        		  </ul>
        			        </li>
        				</ul>

        				<ul class="nav navbar-nav navbar-right">
        					<li class="dropdown">
        			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrativos</a>
        			          <ul class="dropdown-menu">
        	        		  </ul>
        			        </li>
        				</ul>

        				{% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {% else %}
                      <ul class="nav navbar-nav navbar-right">
                           <li ><a href="{{ path('login') }}">Iniciar Sesión</a></li>
                      </ul>
                {% endif %}

        			</div>
        		</div>
        	</nav>
        	<br/>

      {% endblock %}
      

      {% block javascript %}

        <script src="{{ asset('public/assets/js/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('public/assets/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('public/assets/js/bootstrap.js') }}"></script>
        <script src="{{ asset('public/assets/js/highlight.js') }}"></script>
        <script src="{{ asset('public/assets/js/bootstrap-switch.js') }}"></script>
        <script src="{{ asset('public/assets/js/main.js') }}"></script>
         <script src="{{ asset('public/assets/js/bootbox.min.js') }}"></script>
                 

      {% endblock %}  
        
   </body>
   </html>