{% extends 'layout.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="col-md-6 col-md-offset-3">

        {{ form_start(form, { 'attr' : {'class' : 'form-horizontal'} }) }}


          <h2 class="form-signin-heading">Registrar Configuracion</h2><br>

          <div class="form-group">
              {{ form_row(form.tipo, {'attr' : {'class' : 'form-control'} }) }}
          </div>

          <div class="form-group">
            {{ form_row(form.cantidad, {'attr' : {'class' : 'form-control'} }) }}
          </div>

          <div class="form-group">
             {{ form_row(form.anio, {'attr' : {'class' : 'form-control'} }) }}
          </div>

          <div class="form-group">
             {{ form_row(form.fechaIni, {'attr' : {'class' : 'form-control'} }) }}
          </div>

          <div class="form-group">
             {{ form_row(form.fechaFin, {'attr' : {'class' : 'form-control'} }) }}
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        {{ form_end(form) }}

    </div>

{% endblock %}


